<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>

    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css">
</head>
<body style="text-align: center">
 <!--    <form id="add_new_item">
    	<label>name</label>
		<input type="text" name="name"/><br/>
		<label>description</label>
		<input type="text" name="description"/><br/>
		<label>categoryId</label>
		<input type="text" name="categoryId"/><br/>
		<label>inStock</label>
		<input type="number" name="inStock"/><br/>
		<label>imagePath</label>
		<input type="text" name="imagePath"/><br/>
		<label>region</label>
		<input type="text" name="region"/><br/>
		<label>image</label>
		<input type="file" name="image" accept="image/**"/>
		
		<input type="submit" value="上传"/>
		
    </form> -->
    
    <form id="image_form" enctype="multipart/form-data">
        <label>上传图片</label>
        <input type="file" name="image" accept="image/gif,image/jpeg,image/jpg,image/png,image/bmp"/>
    </form>
    <button id="upload">上传</button><br/>
    <image id="image" src=""/>
    
	<script type="text/javascript" src="/lib/jquery/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/lib/jquery/jquery.serializejson.min.js"></script>
	<script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/lib/angularjs/angular.min.js"></script>
	<script type="text/javascript" src="/lib/angularjs/angular-translate.min.js"></script>
	<script type="text/javascript" src="/lib/angularjs/angular-translate-loader-url.min.js"></script>
	<script type="text/javascript" src="/lib/stomp/stomp.min.js"></script>
	<script type="text/javascript" src="/common/js/common.js"></script>
	<script type="text/javascript" src="/lib/toastr/toastr.min.js"></script>
	<script type="text/javascript" src="/common/js/demoAdmin.js"></script>
	<script type="text/javascript">
	
		$("#upload").click(function(){
			var form = document.getElementById("image_form");//获取表单的数据
	        var formdata = new FormData(form);
			
	        $.ajax({
                //请求方式
                type:'post',
                processData: false,// 告诉jQuery不要去处理发送的数据
                contentType: false,// 告诉jQuery不要去设置Content-Type请求头
                dataType: 'json', //设置为返回的数据类型
                //发送请求的地址
                url:'/v1/imageUpload',
                data:formdata,
                success: function(result){
                	console.log(result);
                	$("#image").prop("src", result.data);
                }
            });
		});
			
	</script>
</body>
</html>